<h1>Departments</h1>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <!-- for using sorted on another column change this in controller method sort_column -->
      <th>name</th>
      <th>street</th>
      <th>house_number</th>
      <th>zip__or_postal_code</th>
      <th>city</th>
      <th> link to department </th>
    </tr>
  </thead>
  <% @departments.each do |department| %>
  <tbody>
    <tr>
      <td><%= department.id%></td>
      <td><%= department.name %></td>
      <td><%= department.street %></td>
      <td><%= department.house_number %></td>
      <td><%= department.zip__or_postal_code %></td>
      <td><%= department.city %></td>
      <td><%= link_to "go to department", department_path(department.id)%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.present? && current_user.role == 'Admin' %>
<p><%= link_to "new department", new_department_path %></p>
<% end %>
