<h1>Shifts</h1>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <!-- for using sorted on another column change this in controller method sort_column -->
      <th>name</th>
      <th>description</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>quantity_per_day</th>
      <th>for_location</th>
      <th>for_unit</th>
      <% if current_user.present? && current_user.role == 'Admin' %>
      <th> link to shift </th>
      <% end %>
    </tr>
  </thead>
  <% @shifts.each do |shift| %>
  <tbody>
    <tr>
      <td><%= shift.id%></td>
      <td><%= shift.name %></td>
      <td><%= shift.description %></td>
      <td><%= shift.start_time %></td>
      <td><%= shift.end_time %></td>
      <td><%= shift.quantity_per_day %></td>
      <td><%= shift.for_location %></td>
      <td><%= shift.for_unit %></td>

      <% if current_user.present? && current_user.role == 'Admin' %>
      <td><%= link_to "go to #{shift.name}", shift_path(shift.id)%></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.present? && current_user.role == 'Admin' %>
<p><%= link_to "new shift", new_shift_path %></p>
<% end %>
