<%shift = @shift %>
<h1><%= shift.name %></h1>
<p><%= shift.description %></p>
<p><%= shift.start_time %></p>
<p><%= shift.end_time %></p>
<p><%= shift.quantity_per_day %></p>
<p><%= shift.for_location %></p>
<p><%= shift.for_unit %></p>
<br>
