<h1>Whoami#index</h1>
<% if current_user.present?%>
<%= "hoi #{current_user.email}" %>
<%= current_user.first_name %>
<% else %>
<%= "log dan in"%>
<% end %>

<p><%= link_to "Sign in", new_user_session_path%> </p>

<p><%= link_to "Logout", destroy_user_session_path, :method => :delete %></p>
<% if current_user.present? && current_user.role == 'Admin' %>
<p><%= link_to "new user", new_user_path %></p>
<p><%= link_to "all users", 'users' %></p>
<% end%>
