<%s = @shift_type %>
<h1><%= s.name %></h1>
<p><%= s.description %></p>
<p><%= s.start_time %></p>
<p><%= s.end_time %></p>
<p><%= s.quantity_per_day %></p>
<p><%= s.for_location %></p>
<p><%= s.for_unit %></p>
<br>
